/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
  border-radius: 4px !important;
}

.portlet .portlet-title {
  border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
  border-radius: 0px 0px 4px 4px !important;
}
*/

.page-sidebar-wrapper{
  height: 100% !important;
  background-color: #839595;
  position: absolute;
  z-index: 4;
}

.btn-function + .btn-function {
  margin-left: 2px !important;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0px !important;
}

.btn.btn-xs.btn-circle {
  padding: 3px !important;
}

/* Light Portlet */
.portlet.light.sell-screen {
  margin: 0 0 8px 0 !important;
  padding: 10px 12px !important;
}

.page-content-wrapper .page-content {
  padding: 10px 20px 10px 20px !important;
}

@media (min-width: 1219px) {

  .container {
    width: 1270px !important;
  }

  body.page-sidebar-closed .container {
    width: 1128px !important;
  }

  .sidebar-force-closed .container {
    width: 1024px !important;
  }

  .sidebar-force-closed .page-sidebar {
    display: none !important;
  }

  .sidebar-force-closed .page-content-wrapper .page-content {
    margin: 0 !important;
  }
}

@media (min-width: 992px) and (max-width: 1219px) {

  .container {
    width: 1024px !important;
  }

  .page-content-wrapper .page-content {
    margin: 0 !important;
    min-height: 680px;
  }

  /* Sidebar Closed */
  .page-sidebar {
    z-index: 1;
  }

  .page-sidebar-closed .page-sidebar {
    display: none !important;
  }

  .page-sidebar-closed .page-content-wrapper .page-content {
    margin: 0 !important;
  }

}

/*
@media (max-width: 1260px) {

  .page-content-wrapper .page-content {
    margin: 0 !important;
    min-height: 680px;
  }

}

@media (min-width: 1260px) {

}
*/

