@charset "UTF-8";

/* ----------- REGISTER CSS BEGIN ----------- */

.btn-function {
  display: inline-block;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  white-space:normal !important;
  word-wrap: normal; 
  width: 87px;
  height: 48px;
  margin: 2px;
}
.btn-function:focus,
.btn-function.focus {
  color: #333333;
  /*background-color: #e6e6e6;*/
  border-color: #8c8c8c;
}
.btn-function:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-function:active,
.btn-function.active,
.open > .dropdown-toggle.btn-function {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-function:active:hover,
.btn-function.active:hover,
.open > .dropdown-toggle.btn-function:hover,
.btn-function:active:focus,
.btn-function.active:focus,
.open > .dropdown-toggle.btn-function:focus,
.btn-function:active.focus,
.btn-function.active.focus,
.open > .dropdown-toggle.btn-function.focus {
  color: #333333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-function:active,
.btn-function.active,
.open > .dropdown-toggle.btn-function {
  background-image: none;
}
.btn-function.disabled,
.btn-function[disabled],
fieldset[disabled] .btn-function,
.btn-function.disabled:hover,
.btn-function[disabled]:hover,
fieldset[disabled] .btn-function:hover,
.btn-function.disabled:focus,
.btn-function[disabled]:focus,
fieldset[disabled] .btn-function:focus,
.btn-function.disabled.focus,
.btn-function[disabled].focus,
fieldset[disabled] .btn-function.focus,
.btn-function.disabled:active,
.btn-function[disabled]:active,
fieldset[disabled] .btn-function:active,
.btn-function.disabled.active,
.btn-function[disabled].active,
fieldset[disabled] .btn-function.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-function .badge {
  color: #ffffff;
  background-color: #333333;
}

.dataTables_scrollBody {
  background-image: url('/app/images/onzsa_bg.png');
  background-repeat: no-repeat;
  background-position: center;
}

#sales_items_container td,
#sales_items_container th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px 4px;
}

#sales_items_container .sale-item-name {
  width: 35% !important;
  max-width: 160px !important;
}

#sales_items_container .sale-item-qty {
  width: 15% !important;
  max-width: 64px !important;
}

#sales_items_container .sale-item-discount {
  width: 20% !important;
  max-width: 88px !important;
}

#sales_items_container .sale-item-price {
  width: 20% !important;
  max-width: 88px !important;
}

#sales_items_container .sale-item-remove {
}

#customer_details #customer_code {
  margin-top: 5px;
}

#customer_details .icon-btn {
  width: 100%;
  height: 64px;
  max-width: 100%;
}

#table_customer_details {
  margin-left: 8px;
  margin-right: 8px;
  width: 94%;
}

#table_customer_details td.header {
  width: 40%;
  text-align: left;
  font-weight: 800;
  font-color: #ccc;
  font-size: 11px;
}

#table_customer_details .customer-name {
  text-align: right;
  font-color: #ccc;
  font-size: 11px;
  font-weight: 800;
}

#table_customer_details .customer-balance {
  text-align: right;
  font-color: #ccc;
  font-size: 11px;
  font-weight: 800;
}

#table_customer_details .customer-loyalty {
  text-align: right;
  font-color: #ccc;
  font-size: 11px;
  font-weight: 800;
}

#register_quick_keys .icon-btn:hover {
  background-color: #e6e6e6;
}

.numpad-content-wrap {
  background-color: #525252;
  display: block;
  padding: 20px;
}

.numpad-switch-btn-group {
  width: 100%;
  padding-bottom: 10px;
}

.numpad-switch-btn-group .btn {
  width: 50%;
}

.numpad-number-input-group {
  width: 100%;
  padding-bottom: 20px;
}

.numpad-number-input {
  text-align: right;
}

.numpad-content {
  width: 244px;
  margin-left: -4px;
  margin-right: -4px;
  display: table;
}

.numpad-section {
  float: left;
  display: block;
  max-width: 186px;
}

.numpad-section.last {
  max-width: 58px;
}

.numpad-key {
  background-color: #ff0000;
  width: 50px;
  height: 50px;
  margin: 4px !important;
}

.numpad-key-return {
  height: 108px;
  padding: 0px !important;
}

.numpad-key span {
  font-size: 18px;
}

.numpad-key-return span {
  font-size: 8px;
}

@media (max-width: 1260px) {

  #register_quick_keys .icon-btn {
    display: inline-block;
    width: 110px;
    margin: 1px 1.5px;
    padding: 0;
    border: 0;
  }

  #register_quick_keys .icon-btn > .badge {
    display: none;
    top: 0;
    right: 0;
  }

  .icon-btn > img {
    margin-left: auto;
    margin-right: auto;
  }

  .icon-btn > div.caption {
    display: table-cell;
    width: 110px;
    height: 46px;
    max-width: 110px;
    padding: 4px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: normal;
  }

  .icon-btn.small {
    height: auto;
  }

  .icon-btn.small > img {
    display: none;
  }

  .icon-btn.small > div.caption {
  }

  .icon-btn.medium {
    height: auto;
  }

  .icon-btn.medium > img {
    max-width: 110px;
    max-height: 64px;
    object-fit: cover;
  }

  .icon-btn.medium > div.caption {
  }

  .icon-btn.large {
    width: 110px;
    height: 110px;
  }

  .icon-btn.large > img {
    position: relative;
    max-width: 110px;
    max-height: 110px;
    object-fit: cover;
  }

  .icon-btn.large > div.caption {
    position: relative;
    top: -46px;
    background-color: rgba(243, 194, 0, 0.3);
  }

  #register div#register {
  }

  #register .sell-screen-column {
    padding: 0 5px;
  }

  #register #sales_items_container {
  }

  #table_sale_items {
  }

  #register #customer_details {
    height:102px;
  }

  #register #register_function_keys {
    height: 186px;
  }

  #register #register_quick_keys_container {
  }

  #register_quick_keys {
    height: 572px;
    margin-bottom: 3px;
  }

  #register_quick_keys .tab-content {
    overflow: auto;
    height: 530px;
    margin-bottom: 0;
    padding: 1px 1px;
  }

}

@media (min-width: 1260px) {

  .btn-function {
    width: 92px;
  }

  #register_quick_keys .icon-btn {
    display: inline-block;
    width: 116px;
    margin: 1px 1.5px;
    padding: 0;
    border: 0;
  }

  #register_quick_keys .icon-btn > .badge {
    display: none;
    top: 0;
    right: 0;
  }

  .icon-btn > img {
    margin-left: auto;
    margin-right: auto;
  }

  .icon-btn > div.caption {
    display: table-cell;
    width: 116px;
    height: 46px;
    max-width: 116px;
    padding: 4px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: normal;
  }

  .icon-btn.small {
    height: auto;
  }

  .icon-btn.small > img {
    display: none;
  }

  .icon-btn.small > div.caption {
  }

  .icon-btn.medium {
    height: auto;
  }

  .icon-btn.medium > img {
    max-width: 116px;
    max-height: 64px;
    object-fit: cover;
  }

  .icon-btn.medium > div.caption {
  }

  .icon-btn.large {
    max-width: 116px;
    height: 116px;
  }

  .icon-btn.large > img {
    position: relative;
    max-width: 116px;
    max-height: 116px;
    object-fit: cover;
  }

  .icon-btn.large > div.caption {
    position: relative;
    top: -46px;
    background-color: rgba(243, 194, 0, 0.3);
  }

  #register div#register {
  }

  #register .sell-screen-column {
    padding: 0 5px;
  }

  #register #sales_items_container {
  }

  #table_sale_items {
  }

  #register #customer_details {
    height:102px;
  }

  #register #register_function_keys {
    height: 186px;
  }

  #register #register_quick_keys_container {
  }

  #register_quick_keys {
    height: 572px;
    margin-bottom: 3px;
  }

  #register_quick_keys .tab-content {
    overflow: auto;
    height: 530px;
    margin-bottom: 0;
    padding: 1px 1.5px;
  }

}

.status-bar {
  margin: 0;
  padding: 2px 5px;
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
  width: 100%;

}
.status-item {
  margin: 2px 10px;
}


/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Other Screens ----------- */
/* Portrait */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

}

/* Landscape */
@media screen 
  and (min-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

}


/*Receipt*/

/** product View receipt **/

/*
.receipt-parent {
  text-align:center;
  margin-top:50px;
  display:inline-block;
}
.receipt-parent .show-amount{
  padding:20px;
}
.receipt-pos {
  width: 500px;
  display: inline-block;
  background: rgba(0,0,0,0.2);
  border-radius: 50px;
  height: 43px;
  line-height: 51px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5), inset 0 1px 0 rgba(0,0,0,0.1);
}
.receipt-pos-inner {
  width: 442px;
  display: inline-block;
  background: rgba(0,0,0,0.3);
  border-radius: 50px;
  height: 15px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5), inset 0 3px 0 rgba(0,0,0,0.1);
}
.receipt-content {
  width:400px;
  display: inline-block;
  margin-top: -27px;
  margin-right: -20px;
}
.receipt-content .show-amount{
  box-shadow:3px 0 3px rgba(0,0,0,0.1), inset 0 3px 3px rgba(0,0,0,0.1);
  text-align: left;
  line-height: 24px;
  font-size: 14px;
}
.close-popup {
  position: relative;
  top: -24px;
  left: 501px;
  background: #3A3A3A;
  display: inline-block;
  border-radius: 50px;
  width: 22px;
  height: 22px;
  color: #ffffff;
  line-height: 22px;
}

.receipt-product-table td, .receipt-product-table-total td{
}
.receipt-product-table-total tr:last-child{
  border-top:1px solid #373737;
}
*/

/*modal css*/

/*
.modal-content{
  background-color: rgba(0,0,0,0.7);
  color:#ffffff;
}
.modal .modal-header{
  border-bottom: 1px solid #050505;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}
.modal .modal-footer{
  border-top: 1px solid #050505;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.payment-btn button { height:120px; padding: 17px;}
.payment-btn p {font-weight:bold; margin-top:10px;}

.modal-dialog {
  width: 500px;
  margin: 0 auto;
  margin-top: 10%;
}

.col-alpha
{
  padding-left:0
}

.col-omega
{
  padding-right:0
}


ul, ol, li
{
  list-style:none;
  padding:0;
  margin:0;
}
*/
img.img-responsive.payment{

  height: 30px;
}
.payment.modal-dialog{
  width:900px;

}

.payment.modal {
  width:1000px;
  margin:auto;
  box-shadow: none ;
}

.hide{
  visibility:hidden;
}