<div class="page-content-wrapper" style="margin-top: 30px;">
  <div id="close-register-wrapper" class="line-box">
    <div class="col-md-12 col-sm-12 col-xs-12 col-omega col-alpha to_print">
      <div id="close-register-header" class="col-md-12 col-sm-12 col-xs-12">
        <h3><strong>Closing totals to verify</strong></h3>
        <h4>Register details</h4>
      </div>
      <div class="dashed-line"></div>
      <div id="close-register-details" class="col-md-12 col-sm-12 col-xs-12 col-alpha col-omega">
        <div class="col-md-6 col-sm-12 col-xs-6 col-alpha col-omega">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4"><span>Register: </span></div>
            <div class="col-md-8 col-sm-8 col-xs-8">{{register.name}}</div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4"><span>Outlet: </span></div>
            <div class="col-md-8 col-sm-8 col-xs-8">{{register.outlet_name}}</div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-6 col-alpha col-omega">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4"><span>Opened: </span></div>
            <div class="col-md-8 col-sm-8 col-xs-8">{{register.open_time}}</div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4"><span>Closed: </span></div>
            <div class="col-md-8 col-sm-8 col-xs-8">{{register.close_time}}</div>
          </div>
        </div>
      </div>
      <div id="close-register-sales" class="col-md-12 col-sm-12 col-xs-12">
        <h4>Sales</h4>
        <table class="col-md-12 col-sm-12 col-xs-12 sales-table">
          <tr style="border-top:4px double black;">
            <th>New sales</th>
            <th></th>
            <th>${{register.total_sales}}</th>
          </tr>
          <tr data-ng-repeat="sale in register.sales">
            <td></td>
            <td>{{sale.name}}</td>
            <td>${{sale.total_sales}}</td>
          </tr>
          <tr>
            <td></td>
            <td>Tax (GST)</td>
            <td>${{register.total_taxes}}</td>
          </tr>
          <tr style="border-top:4px double black;">
            <th>Discounts</th>
            <th></th>
            <th>${{register.total_discounts}}</th>
          </tr>
          <tr style="border-top:4px double black;">
            <th>Payments</th>
            <th></th>
            <th>${{register.total_payments}}</th>
          </tr>
          <tr data-ng-repeat="sale in register.sales.payments">
            <td></td>
            <td>{{sale.name}}</td>
            <td>${{sale.total_sales}}</td>
          </tr>
          <tr style="border-top:4px double black;">
            <th>Total Transaction Count</th>
            <th></th>
            <th>{{register.total_transactions}}</th>
          </tr>
        </table>
      </div>
      <div id="close-register-payments" class="col-md-12 col-sm-12 col-xs-12">
        <h4>Payments</h4>
        <table class="dataTable table-bordered">
          <thead>
            <tr>
              <th>Payment</th>
              <th>Amount</th>
              <th>To post</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="payment in register.payments">
              <td>{{payment.name}}</td>
              <td>{{payment.amount}}</td>
              <td><input type="text" data-ng-model="payment.amount" data-ng-value="amount"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div data-ng-show="register.account_sales" id="close-register-account" class="col-md-12 col-sm-12 col-xs-12">
        <h4>Account sales</h4>
        <table class="dataTable table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Receipt #</th>
              <th>User</th>
              <th>Customer</th>
              <th>Note</th>
              <th></th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat-start="account_sale in register.account_sales" style="background:#eee;">
              <th style="border:0;">Laybys started</th>
              <th style="border:0;" colspan="6"></th>
            </tr>

            <tr data-ng-repeat="sale in account_sale.sales">
              <td>{{sale.sale_date}}</td>
              <td>{{sale.reciept_number}}</td>
              <td>{{sale.user.name}}</td>
              <td>{{sale.customer.name}}</td>
              <td>{{sale.note}}</td>
              <td></td>
              <td>${{sale.amount}}</td>
            </tr>

            <tr data-ng-repeat-end style="background:#FFF7D6">
              <th style="border:0; text-align:right;" colspan="6">Total new laybys</th>
              <td style="border:0;">${{account_sale.total_sales}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="dashed-line"></div>
    <div class="col-md-12 col-sm-12 col-xs-12 pull-right margin-top-20 margin-bottom-20">
      <button class="btn btn-primary pull-right" data-ng-click="closeRegister(register.id)">Close Register</button>
      <button class="btn btn-default pull-right margin-right-10 print">Print</button>
    </div>
  </div>
</div>
