<div class="margin-bottom20">
  <h2>Recall Sale</h2>
</div>

<div class="portlet light bordered" >
  <select name="filter" id="filter" ng-model="saleStatus">
    <option value="all" selected>All Sales</option>
    <option value="sale_status_closed">Closed</option>
    <option value="sale_status_exchanged">Exchanged</option>
    <option value="sale_status_layby">Layby</option>
    <option value="sale_status_layby_closed">Completed Layby</option>
    <option value="sale_status_onaccount">Account Sale</option>
    <option value="sale_status_onaccount_closed">Account Sale Paid</option>
    <option value="sale_status_open">Open</option>
    <option value="sale_status_refunded">Refunded</option>
    <option value="sale_status_saved">Saved</option>
  </select>

  <button class="btn btn-primary filter pull-right" ng-click="reload()">Search</button>
</div>

<div data-ng-controller="RecallController as recallCtrl " class="portlet light bordered" ng-style="{'overflow': 'auto'}">
  <table datatable="" dt-default="" dt-options="recallCtrl.dtOptions" dt-columns="recallCtrl.dtColumns" class="row-border hover">
  </table>
</div>
