<div data-ng-controller="RegisterController as registerCtrl">

  <!-- REGISTER BEGIN -->
  <div class="row" id="register">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 sell-screen-column">

      <!-- SALES ITEMS CONTAINER BEGIN -->
      <div class="portlet light bordered sell-screen" id="sales_items_container">

        <div class="portlet-body">
          <table datatable="" dt-options="registerCtrl.dtOptions" dt-columns="registerCtrl.dtColumns" dt-instance="registerCtrl.dtInstance" class="row-border hover" id="table_sales_items">

            <tfoot>
              <tr style="background-color: #eee;">
                <td class="dt-head-left">&nbsp;</td>
                <td class="dt-head-left sale-item-name">DISCOUNT</td>
                <td class="dt-head-left sale-item-qty">&nbsp;</td>
                <td class="dt-head-left sale-item-discount">&nbsp;</td>
                <td class="dt-head-right sale-item-price">{{registerSale.total_discount | currency}}</td>
                <td class="dt-head-left">&nbsp;</td>
              </tr>
              <tr>
                <td class="dt-head-left">&nbsp;</td>
                <td class="dt-head-left sale-item-name">TOTAL</td>
                <td class="dt-head-left sale-item-qty">&nbsp;</td>
                <td class="dt-head-left sale-item-discount">&nbsp;</td>
                <td class="dt-head-right sale-item-price">{{registerSale.total_price_incl_tax | currency}}</td>
                <td class="dt-head-left">&nbsp;</td>
              </tr>
            </tfoot>

          </table>
        </div>
      </div>
      <!-- SALES ITEMS CONTAINER END -->

      <!-- CUSTOMER DETAILS BEGIN -->
      <div class="portlet light bordered sell-screen" id="customer_details">

        <div class="portlet-body">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control form-control-solid" id="customer_code" name="customer_code" autocomplete="off" placeholder="Customer Search">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <a class="icon-btn" data-ng-if="isSelectedCustomer()">
                <div>
                  <table id="table_customer_details">
                    <tbody>
                      <tr>
                        <td class="header">Name</td>
                        <td class="customer-name">{{customer.name}}</td>
                      </tr>
                      <tr>
                        <td class="header">Balance</td>
                        <td class="customer-balance">{{customer.balance | currency}}</td>
                      </tr>
                      <tr>
                        <td class="header">Loyalty</td>
                        <td class="customer-loyalty">{{customer.loyalty_balance | number}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <span class="btn badge badge-danger" data-ng-click="clearCustomerInfo()">x</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- CUSTOMER DETAILS END -->

      <!-- REGISTER FUNCTION KEYS BEGIN -->
      <div class="portlet light bordered sell-screen" id="register_function_keys">
        <div class="portlet-body">
          <button  class="btn btn-function" data-ng-class="function_key.class"
            data-ng-repeat="function_key in function_keys"
            data-ng-click="function_key.callback()" data-ng-init="changeClassName">
            {{function_key.name}}
          </button>
        </div>
      </div>
      <!-- REGISTER FUNCTION KEYS END -->

    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 sell-screen-column">

      <!-- REGISTER QUICKEY KEYS CONTAINER BEGIN -->
      <div class="portlet light bordered sell-screen" id="register_quick_keys_container">

        <div class="portlet-title">
          <div class="caption">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input type="search" class="form-control form-control-solid" data-ng-model="search" placeholder="Product Search">
            </div>
          </div>
          <div class="tools">
            <div class="btn-group btn-group-solid">
              <label class="btn {{settings.theme.btn_default}} active" ng-model="viewMode" btn-radio="'small'">
                <div class="glyphicon glyphicon-th"></div>
              </label>
              <label class="btn {{settings.theme.btn_default}}" ng-model="viewMode" btn-radio="'medium'">
                <div class="glyphicon glyphicon-th-large"></div>
              </label>
              <label class="btn {{settings.theme.btn_default}}" ng-model="viewMode" btn-radio="'large'">
                <div class="glyphicon glyphicon-picture"></div>
              </label>
            </div>
          </div>
        </div>

        <div class="portlet-body">
          <div class="tabbable-custom tabs-below" id="register_quick_keys">
            <div class="tab-content">
              <div data-ng-repeat="group in keyLayout.groups"
                  class="tab-pane {{::isTabActive(group.position)}}"
                  id="tab_pane_{{group.position}}">
                <a class="btn icon-btn {{viewMode}}"
                    data-ng-repeat="quickKey in group.pages[0].keys | filter:search"
                    data-ng-click="addSellItem(quickKey)"
                    data-ng-model="quickKey">
                  <img class="img-responsive"
                    data-ng-src="{{quickKey.image || '/img/no-image.png'}}" alt="{{quickKey.label}}">
                  <div class="caption">
                    <span>{{quickKey.label}}</span>
                  </div>
                  <span class="badge badge-danger">
                    sale
                  </span>
                </a>
              </div>
            </div>
            <ul class="nav nav-tabs">
              <li class="{{::isTabActive(group.position)}}" data-ng-repeat="group in keyLayout.groups">
                <a href="#tab_pane_{{group.position}}" data-toggle="tab" aria-expanded="true">{{group.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- REGISTER QUICKEY KEYS CONTAINER END -->

    </div>
  </div>
  <!-- REGISTER END -->
  <div data-ng-include="'/app/tpl/receipt.html'"></div>
</div>

