<div data-ng-controller="SellController">

  <!-- REGISTER BEGIN -->
  <div class="row" id="register">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 sell-screen-column">

      <!-- SALES ITEMS CONTAINER BEGIN -->
      <div class="portlet light bordered sell-screen" id="sales_items_container">

        <!--
        <div class="portlet-title">
          <div class="caption font-dark">
            <span class="caption-subject bold uppercase">Sales Items</span>
            <span class="caption-helper"></span>
          </div>
        </div>
        -->

        <div class="portlet-body">
          <table class="table table-hover" id="table_sales_items">

            <thead>
              <tr>
                <th class="sale-item-name text-left">Product</th>
                <th class="sale-item-qty text-center">Qty</th>
                <th class="sale-item-discount text-center">Discount</th>
                <th class="sale-item-price text-center">Price</th>
                <th class="text-center">&nbsp;</th>
              </tr>
            </thead>

            <tbody>
              <tr class="order-product" data-ng-repeat="saleItem in saleItems">
                <td class="sale-item-name text-left">
                  {{saleItem.name}}
                </td>
                <td class="sale-item-qty text-right" numpad-popup numpad-append-to-body="true" numpad-mode="'quantity'" ng-model="saleItem.quantity" ng-required="true">
                  {{saleItem.quantity}}
                </td>
                <td class="sale-item-discount text-right" numpad-popup numpad-append-to-body="true" numpad-mode="'currency'" ng-model="saleItem.discount" ng-required="true">
                  {{(saleItem.discount * saleItem.quantity) | currency}}
                </td>
                <td class="sale-item-price text-right">
                  {{((saleItem.sale_price - saleItem.discount) * saleItem.quantity) | currency}}
                </td>
                <td class="sale-item-remove text-center">
                  <button class="btn btn-xs btn-circle btn-danger" data-ng-click="removeSellItem(saleItem)">
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <td class="sale-item-name text-left">TOTAL</td>
                <td class="sale-item-qty  text-left">&nbsp;</td>
                <td class="sale-item-discount text-left">&nbsp;</td>
                <td class="sale-item-price text-right">{{(registerSale.total_price_incl_tax) | currency}}</td>
                <td class="text-left">&nbsp;</td>
              </tr>
            </tfoot>

          </table>
        </div>
      </div>
      <!-- SALES ITEMS CONTAINER END -->

      <!-- CUSTOMER DETAILS BEGIN -->
      <div class="portlet light bordered sell-screen" id="customer_details">

        <div class="portlet-body">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="input-icon left">
                <i class="icon-magnifier"></i>
                <input type="text" class="form-control form-control-solid" placeholder="Customer Search" id="customer_code">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <a class="icon-btn">
                <div>
                  <table id="table_customer_details">
                    <tbody>
                      <tr>
                        <td class="header">Name</td>
                        <td class="customer-name">{{customer.name}}</td>
                      </tr>
                      <tr>
                        <td class="header">Balance</td>
                        <td class="customer-balance">${{customer.balance}}</td>
                      </tr>
                      <tr>
                        <td class="header">Loyalty</td>
                        <td class="customer-loyalty">${{customer.loyalty}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <span class="btn badge badge-danger">x</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- CUSTOMER DETAILS END -->

      <!-- REGISTER FUNCTION KEYS BEGIN -->
      <div class="portlet light bordered sell-screen" id="register_function_keys">
        <div class="portlet-body">
          <button class="btn btn-function"
            data-ng-repeat="function_key in function_keys"
            data-ng-click="function_key.callback()">
            {{function_key.name}}
          </button>
        </div>
      </div>
      <!-- REGISTER FUNCTION KEYS END -->

    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 sell-screen-column">

      <!-- REGISTER QUICKEY KEYS CONTAINER BEGIN -->
      <div class="portlet light bordered sell-screen" id="register_quick_keys_container">

        <div class="portlet-title">
          <div class="caption">
            <div class="input-icon left">
              <i class="icon-magnifier"></i>
              <input type="search" class="form-control form-control-solid" data-ng-model="criteria" placeholder="Product Search">
            </div>
          </div>
          <div class="tools">
            <div class="btn-group btn-group-solid">
              <label class="btn {{settings.theme.btn_default}} active" ng-model="viewMode" btn-radio="'small'">
                <div class="glyphicon glyphicon-th"></div>
              </label>
              <label class="btn {{settings.theme.btn_default}}" ng-model="viewMode" btn-radio="'medium'">
                <div class="glyphicon glyphicon-th-large"></div>
              </label>
              <label class="btn {{settings.theme.btn_default}}" ng-model="viewMode" btn-radio="'large'">
                <div class="glyphicon glyphicon-picture"></div>
              </label>
            </div>
          </div>
        </div>

        <div class="portlet-body">
          <div class="tabbable-custom tabs-below" id="register_quick_keys">
            <div class="tab-content">
              <div data-ng-repeat="group in keyLayout.groups"
                  class="tab-pane active"
                  id="tab_pane_{{group.position}}">
                <a class="btn icon-btn {{viewMode}}"
                    data-ng-repeat="quickKey in group.pages[0].keys"
                    data-ng-click="{{quickKey.position == 0 ? '' : 'addSellItem(quickKey)'}}"
                    data-ng-model="quickKey"
                    popover-template="{{quickKey.position != 0 ? '' : '\'myPopoverTemplate.html\''}}"
                    popover-placement="bottom">
                  <img class="img-responsive"
                    data-ng-src="{{quickKey.image || '/img/no-image.png'}}" alt="{{quickKey.label}}">
                  <div class="caption">
                    <span>{{quickKey.label}}</span>
                  </div>
                  <span class="badge badge-danger">
                    sale
                  </span>
                </a>
              </div>
            </div>
            <ul class="nav nav-tabs">
              <li class="active" data-ng-repeat="group in keyLayout.groups">
                <a href="#tab_pane_{{group.position}}" data-toggle="tab" aria-expanded="true">{{group.name}}</a>
              </li>
            </ul>
          </div>
          <!--
          <a class="icon-btn {{viewMode}}"
              data-ng-repeat="quickKey in quickKeys"
              data-ng-click="addSellItem(quickKey)">
            <img class="img-responsive" data-ng-src="{{quickKey.image}}" alt="{{quickKey.name}}">
            <div class="caption">
              <span>{{quickKey.name}}</span>
            </div>
            <span class="badge badge-danger">
              sale
            </span>
          </a>
          -->
        </div>
      </div>
      <!-- REGISTER QUICKEY KEYS CONTAINER END -->

    </div>
    <div data-ng-include="'/app/tpl/reciept.html'"></div>
  </div>
  <!-- REGISTER END -->

</div>

<!--<script src="/app/scripts/controllers/PaymentController.js"></script>-->
