<div id="table-sale">
  <div class="subheading">
    <h1 class="strong">Table Sale</h1>
  </div>
  <div class="tab-content-wrapper col-md-12 col-xs-12 col-sm-12 col-alpha col-omega" tabindex="4" style="width=100%;" id="booking_box">
    <select id="booking-availability" style="width: auto;">
      <option value="all">All</option>
      <option value="available">Available</option>
      <option value="unavailable">Unavailable</option>
    </select>
    <span class="glyphicon glyphicon-calendar icon-calendar"></span>
    <input type="text" id="booking-date" style="width: auto;">
    <input type="text" id="booking-start" placeholder="00:00" style="width: 120px;"> ~ <input type="text" id="booking-end" placeholder="00:00" style="width: 120px;">
    <ul style="width: 100%;">
      <li style="width: auto;">
        available
      </li>
      <li style="color: #FF0000; width:auto;">
        unavailable
      </li>
    </ul>
    <div class="solid-line"></div>
    <div class="line-box  col-md-12 col-xs-12 col-sm-12 col-alpha col-omega" id="booking-wrapper">
      <div class="portlet-body col-md-12 col-xs-12 col-sm-12 col-alpha col-omega">
        <div class="scroller setHeight" data-always-visible="1" data-rail-visible="0" style="height:359px; border: 0;">
          <ul class="feeds">
            <li data-ng-repeat="resource in resources">
              <button class="btn btn-default booking-attr">{{resource.name}}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
