<div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel()" aria-hidden="true"></button>
  <h4 class="modal-title">Close is disable.</h4>
</div>
<div class="modal-body modal-variant-body">
  <div class="modal-variant-content">
    <p id="payment-close-description"> payment close is disabled untill{{change}}</p>
    <li>customer make payment in Full!</li>
  </div>
</div>
<div class="modal-footer">
  <button class="btn blue" type="button" ng-click="cancel()">Back to payment</button>
</div>


<style>
#payment-close-description{
  color:black;
  font: bold 15px;

}
</style>