<!-- PAY POPUP BOX -->
<div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel()" aria-hidden="true"></button>
  <h4 class="modal-title">Select a payment method</h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-hover payment-table" id="table_payment">
        <thead>
        <tr>
          <th>TOTAL PAY</th>
          <th class="total-price text-right">{{totalPayment | currency}}</th>
        </tr>
        <tr>
          <th class="text-left">TO PAY</th>
          <th class="text-right">
            <div class="input-group pull-right" style="width: 220px;">
              <span class="input-group-addon">$</span>
              <input class="form-control text-right" style="padding: 8px 0 8px 8px;" data-ng-model="toPayment">
            </div>
          </th>
        </tr>
        </thead> <tbody> <tr class="payment-info"data-ng-repeat="payment in payments"> <td class="payment-name text-left">{{payment.name}}</td> <td class="payment-amount text-right">{{payment.amount | currency}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td class=" text-left">remains</td>
          <td class="payment-remains text-right">{{remainPayment | currency}}</td>
        </tr>
        <tr>
          <td class=" text-left">TOTAL paid</td>
          <!--<td class=" text-center">$ {{getTotal()}} divided {{example.text}}</td>-->
          <td class="payment-paid text-right">{{totalPaid | currency}}</td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-6">
      <div class="margin-top-20 col-lg-12 col-md-12 col-sm-12 col-omega col-alpha">
        <div data-ng-repeat="payment in paymentTypes" >
          <div class="col-md-4 payment_method" data-ng-click="doPayment(payment)">
            <div>
              <a class="btn icon-btn medium">
                <img class="img-responsive payment" data-ng-src="{{payment.image}}" alt="{{payment.name}}">
                <div class="payment caption">
                  <span>{{payment.name}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="pull-left">
    <button class="btn btn-primary" type="button" data-ng-disabled="!isSelectedCustomer()" data-ng-click="onaccount()">On account </button>
    <button class="btn btn-primary" type="button" data-ng-disabled="!isSelectedCustomer()" data-ng-click="layby()">Lay by</button>
    <button class="btn btn-default purple split-toggle-button" data-ng-click="toggleSplitMode()">
      <i class="fa fa-check" data-ng-show="isSplitMode()"></i> Split
    </button>
  </div>
  <button class="btn btn-primary" type="button" data-ng-click="cancel()">Cancel</button>
  <div class="col-sm-4" data-ng-show="isSplitMode()">
    <div class="input-group">
      <input type="number" class="form-control" min="1" ng-model="totalPerson" ng-change="onChangePerson()">
    </div>
    <p class="help-block pull-left">Need to pay {{toPayment | currency}} per person.</p>
  </div>
</div>
<!-- PAY POPUP BOX END -->

<!-- EFTPOS TRANSACTION BOX -->
<div class="confirmation-modal modal fade in eftpos_status" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body display-msg" style="text-align:center;"></div>
    </div>
  </div>
</div>
<!-- EFTPOS TRANSACTION BOX END -->

<script src="/app/scripts/modules/dpsclient.js" type="text/javascript"></script>
<script src="/js/jxon.js" type="text/javascript"></script>

