<div class="clearfix"></div>
<div class="receipt-parent has-receipt-80" id =receipt>
  <div id="receipt" class="receipt-content">
    <div class="show-amount">
      <div class="receipt-header">
        <h2>{{template.receipt_header}}</h2>
      </div>
      <div class="dashed-line-gr"></div>
      <div class="receipt-body">
        <div class="receipt-body-customer">
          <span class="receipt-customer-name">{{receipt.customer_name}}</span><br>
          <span class="receupt-customer-region">New Zealand</span>
        </div>
        <h4 class="receipt-body-type">
          {{template.label_invoice_title}}
        </h4>
        <div class="receipt-body-info">
          {{template.label_invoice}}<span class="invoice-id">{{receipt.invoice_number}}</span><br>
          <span class="invoice-date">{{receipt.date}}</span><br>
          {{template.label_served_by}}  {{template.receipt_header}}
        </div>
        <div class="dashed-line-gr"></div>
        <div class="receipt-body-sales">
          <table class="receipt-product-table">
            <tbody>
            <tr class="split_receipt_attr" data-ng-repeat = "sales in receipt.sale_items">
              <td>{{sales.name}}</td>
              <td>{{sales.quantity}}</td>
              <td>@{{sales.sale_price}}</td>
              <td class="pull-right">{{sales.sale_price |currency}}</td>
            </tr>
            </tbody>
          </table>
          <div class="dashed-line-gr"></div>
          <table class="receipt-product-table-total">
            <tr>
              <th>{{template.label_sub_total}}</th>
              <td class="total-sub-total receipt-subtotal pull-right">{{receipt.sub_total |currency}}</td>
            </tr>
            <tr>
              <th>{{template.label_tax}}</th>
              <td class="total-tax receipt-tax pull-right">{{receipt.tax |currency}}</td>
            </tr>
            <tr class="receipt_total" ng-if="receipt.paid">
              <th>{{template.label_total}}</th>
              <td class="total-amount receipt-total pull-right">{{receipt.total | currency}}</td>
            </tr>
            <tr class="split_receipt_attr" data-ng-repeat = "payment in receipt.payments" ng-if="payment.amount > 0">
              <td>{{payment.name}}</td>
              <td class="pull-right"> {{payment.amount | currency}}</td>
            </tr>
            <tr class="receipt_change">
              <th>{{template.label_change}}</th>
              <td class="total-change receipt-total pull-right red" style="color : red;">{{receipt.change | currency}}</td>
            </tr>
            <tr class="receipt_total">
              <th>{{template.label_to_pay}}</th>
              <td class="total-amount receipt-total pull-right" >{{receipt.to_pay | currency}}</td>
            </tr>
            <tr class="receipt-merchant-only" style="text-align: center">
              <br><br>
            </tr>
          </table>
        </div>
      </div>
      <div class="receipt-footer">
        <div class="receipt-bt">
          {{template.receipt_footer}}
        </div>
      </div>
    </div>

  </div>
</div>

<link href="app/styles/receipt.css" rel="stylesheet" type="text/css"/>
